body {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background-color: #3c444b;
}

.calculator {
    height: 600px;
    width: 500px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;;
    padding: 10px;
}

.screen {
    flex: 1 1 0;
    background-color: #CCC9DC;
    box-sizing: content-box;
    margin: 3px;
    border-radius: 8px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 5 1 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

button {
    flex: 1;
    margin: 2px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 20px;
    border: 0px;
    color: #CCC9DC;
}

.number {
    background-color: #324A5F;

}

.operation {
    background-color: #1B2A41;
}

.modifier {
    background-color: #0C1821;
}